{% extends "main.html" %}
{% from "macros/_forms.html" import render_field %}

{%- block body %}
<div class="body">
    <form method="POST" action=".">
        {{ form.hidden_tag() }}
        <table cellspacing="0" class="form-table">
        <tbody>
            <tr>
                {{ render_field(form.job_name) }}
            </tr>
            <tr>
                {{ render_field(form.description) }}
            </tr>
            <tr>
                <th></th>
                <td>{{ form.submit }}</td>
            </tr>
        </tbody>
        </table>           
    </form>
</div>
{%- endblock %}