{% extends theme("layout.html") %}
{% from "macros/_forms.html" import render_errors %}
{% from "macros/_forms.html" import render_tips %}

{%- block sidebar %}
<div class="sidebar">
    {% include "hr/_sidebar.html" %}
</div>
{%- endblock %}

{%- block content %}
<div class="content">
    <div id="Department">
        <form method="POST" action=".">
            {{ form.hidden_tag() }}
            <table cellspacing="0" class="form-table">
            <tbody>
                <tr>
                    <th>{{ form.dept_name.label }}{% if form.dept_name.flags.required %}*{% endif %}</th>
                    <td>{{ form.dept_name(size=30) }} {{ render_errors(form.dept_name) }}</td>

                    <th>{{ form.manager.label }}</th>
                    <td>{{ form.manager }} {{ render_errors(form.manager) }}</td>                    
                </tr>                
                <tr>
                    <th>{{ form.parent_department.label }}</th>
                    <td>{{ form.parent_department }} {{ render_errors(form.parent_department) }}</td>                 
                </tr>
                <tr>
                    <th></th>
                    <td>{{ form.submit }}</td>
                </tr>
            </tbody>
            </table>            
        </form>
    </div>
</div>
{%- endblock %}