{% extends "layout.html" %}
{% from "macros/_forms.html" import render_field %}

{%- block sidebar %}
<div class="sidebar">
    {% include "hr/_sidebar.html" %}
</div>
{%- endblock %}

{%- block content %}
<div class="content">
    <div id="Employee">
        <form method="POST" action=".">
            {{ form.hidden_tag() }}
            <table cellspacing="0" class="form-table">
            <tbody>
                <tr>
                    {{ render_field(form.emp_name) }}
                    {{ render_field(form.emp_code) }}
                </tr>
                <tr>
                    {{ render_field(form.work_addr) }}
                    {{ render_field(form.department) }}
                </tr>
                <tr>
                    {{ render_field(form.work_email) }}
                    {{ render_field(form.job) }}
                </tr>
                <tr>
                    {{ render_field(form.work_phone) }}
                    {{ render_field(form.level) }}
                </tr>                
                <tr>
                    {{ render_field(form.work_mobile) }}
                    {{ render_field(form.manager) }}
                </tr>
                <tr>
                    {{ render_field(form.office_location) }}
                    {{ render_field(form.is_manager) }}
                </tr>
                <tr>
                    {{ render_field(form.related_user) }}
                </tr>                    
                <tr>
                    {{ render_field(form.gender_id) }}
                    {{ render_field(form.id_card) }}
                </tr>
                <tr>
                    {{ render_field(form.marital_id) }}
                    {{ render_field(form.home_addr) }}
                </tr>
                <tr>
                    {{ render_field(form.num_children) }}
                    {{ render_field(form.date_of_birth) }}
                </tr>
                <tr>
                    {{ render_field(form.place_of_birth) }}
                </tr>
                <tr>
                    {{ render_field(form.remark) }}
                </tr>
                <tr>
                    <th></th>
                    <td>{{ form.submit }}</td>
                </tr>
            </tbody>
            </table>            
        </form>
    </div>
</div>
{%- endblock %}