{% extends theme("layout.html") %}

{%- block sidebar %}
<div class="sidebar">
    {% include folder + "/_sidebar.html" %}
</div>
{%- endblock %}

{%- block topbar %}
<div class="topbar">
    {% include folder + "/_topbar.html" %}
</div>
{%- endblock %}

{% block content %}
<div class="content">
    {%- if showfields and table %}
        <table cellspacing="0" class="form-table" border=1>
        <header>
            <tr>
                <th></th>
                {%- for field in showfields %}
                <td>{{ field[1] }}</td>
                {%- endfor %}
            </tr>
        </header>
        <tbody>
            {%- for row in table %}
            <tr>
                {%- if row.id %}
                <th>
                    <div class="table_button">
                        <a href="{{ url_for(link + '_edit', id=row.id) }}" id="edit">{{ _("Edit") }}</a>
                        <a href="{{ url_for(link + '_delete', id=row.id) }}" id="delete">{{ _("Delete") }}</a>
                    </div>
                </td>
                {%- endif %}
                {%- for field in showfields %}
                    {%- if row[field[0]] %}
                        <td>{{ row[field[0]] }}</td>
                    {%- else %}
                        <td></td>
                    {%- endif %}
                {%- endfor %}
            </tr>
            {%- endfor %}
        </tbody>
        </table>
    {%- endif %}
</div>
{% endblock %}