{% extends formadmin.blueprint.name + "/main.html" %}

{% block head %}
    <link href="{{ url_for('.static', filename='select2/select2.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/datepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">{{ _('List') }} ({{ count }})</a>
        </li>
        <li>
            <a href="{{ url_for('.' + formadmin.endpoint + '_create', id=0, url=return_url) }}">{{ _('Create') }}</a>
        </li>
    </ul>
    <table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                {% block list_header scoped %}
                    <th class="span1">&nbsp;</th>
                    {% set column = 0 %}
                    {% for c in formadmin.list_columns %}
                    <th>
                        {{ formadmin.column_labels[c] }}
                    </th>
                    {% set column = column + 1 %}
                    {% endfor %}
                {% endblock %}
            </tr>
        </thead>
        {% for row in formadmin.data %}
        <tr>
            {% block list_row scoped %}
                {% if actions %}
                <td>
                    <input type="checkbox" name="rowid" class="action-checkbox" value="{{ row.id }}" />
                </td>
                {% endif %}
                <td>
                    {% block list_row_actions scoped %}
                        <a class="icon" href="{{ url_for('.' + formadmin.endpoint + '_view', id=row.id, url=return_url) }}">
                            <i class="icon-share-alt"></i>
                        </a>
                        <form class="icon" method="POST" action="{{ url_for('.' + formadmin.endpoint + '_delete', id=row.id, url=return_url) }}">
                            <button onclick="return confirm('{{ _('You sure you want to delete this item?') }}');">
                                <i class="icon-remove"></i>
                            </button>
                        </form>
                    {% endblock %}
                </td>

                {% for c in formadmin.list_columns %}
                    {%- if row[c] %}
                        <td>{{ row[c] }}</td>
                    {%- else %}
                        <td></td>
                    {%- endif %}
                {% endfor %}
            {% endblock %}
        </tr>
        {% endfor %}
    </table>
    {# 分页处理，暂时不支持
    {{ lib.pager(page, num_pages, pager_url) }}
    #}
{% endblock %}

{% block tail %}
    <script src="{{ url_for('.static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/filters.js') }}"></script>
{% endblock %}